div.card {
    padding-left: 70px;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

div.card-title {
    font-size: 18pt;
    padding-bottom: 22px;
}

div.card-body {
    padding-bottom: 15px;
    line-height: 1.4;
}