body {
  background-color: beige;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
  
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

h1 {
  font-family: 'IM Fell DW Pica SC';
  font-size: xx-large;
}

td {
  font-family: 'IM Fell DW Pica SC';
  font-size: large;
}
  
tr:nth-child(even){
  background-color: #f2f2f2;
}
  
tr:nth-child(odd){
  background-color: #d2d2d2;
}
  
tr:hover {
  background-color: #ddd;
}
  
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dec64d;
  color: rgb(168, 73, 6);
  font-family: 'IM Fell DW Pica SC';
  font-size: x-large;
}